.aboutme-container {
    margin: 8rem auto 0 auto;
    width: 55%;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #d6d6d6;
    padding: 2rem;
    box-shadow: 34px 36px 0px -18px rgba(21,41,33,1);
    height: 100%;
}
.introduction {
    flex-basis: 80%;
}
.introduction h2 {
    font-size: 42px;
    color: #587765;
    margin: 1rem 0 2rem 0; 
}
.introduction p {
    margin-top: 1rem;
    font-size: 18px;
    line-height: 28px;
    color: rgb(44, 41, 41);
}
.avatar { display: flex; justify-content: right;}
.avatar img {
    width: 80%;
    border-radius: 50%;
}

.btn-see-projects {
    width: 15%;
    margin: 10rem auto 0 auto;
    
}
.btn-see-projects button {
    width: 100%;
    padding: 1rem 0;
    border-radius: 0;
    font-weight: bolder;
    font-size: 18px;
    background-color: white;
    border: 3px solid #587765;

    transition: .4s ease;
}

.btn-see-projects button:hover {
    cursor: pointer;
    /* Button animation */
    box-shadow: 5px 5px 0px 0px rgba(21,41,33,1);
    transform:translateX(-5px) translateY(-5px);
}

@media (max-width:1366px) {
    .aboutme-container {
        margin: 4rem auto 0 auto;
        width: 65%;
    }
    .btn-see-projects {
        margin: 5rem auto 0 auto;
    }
  }