.footer-container {
    padding: 2rem;
    background-color: #152921;
    border-top: 4px solid rgb(75, 233, 170);

    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container div {
    margin: 0 3rem;
}
.footer-container p {
    font-weight: bold;
    color: white;
    text-align: center;
}
.footer-container a i{
    font-size: 25px;
    color: white;
}
.newsletter-container p {
    margin-bottom: .5rem;
}
.newsletter-container input {
    padding: .2rem .3rem;
    border: none;
}
.newsletter-container button {
    padding: .2rem .3rem;
    border: none;
}
.newsletter-container button i{
    color: #152921;
}